---
import LandingHeader from '../components/LandingHeader.astro';
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro'
import ExperienciaSection from '../components/ExperienciaSection.astro'
import NosotrosSection from '../components/NosotrosSection.astro'
import ContactoSection from '../components/ContactoSection.astro'
---

<Layout title="Welcome to Astro.">
	<LandingHeader/>
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth ">
		<div class="snap-center ">
			<HeroSection/>
		</div>
		<div class="snap-center ">
			<NosotrosSection/>
		</div>
		<div class="snap-center ">
			<ExperienciaSection/>
		</div>
		<div class="snap-center ">
			<ContactoSection/>
		</div>
	
		
	</main>
</Layout>
