<section
  id="experiencia"
  class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
  data-header-color="white"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-white pt-20 text-[40px] font-medium">Productos</h2>
    </header>
    <div class="gap-12 flex mx-auto">
      <div
        style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); max-width: 200px;  margin: auto; text-align: center"
        class=""
      >
        <img src="/gibsonsf.png" alt="epi" style="width:100%" />
        <h1 class="text-white">
          Gibson L-00 Original Vintage Sunburst, guitarra acústica
        </h1>
        <p
          style="border: none;
            outline: 0;
            padding: 12px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;"
        >
          <button>$56,900.00</button>
        </p>
      </div>
      <div
        style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); max-width: 200px;margin: auto; text-align: center"
        class=""
      >
        <img src="/blk.png" alt="epi" style="width:100%" />
        <h1 class="text-white">
          Epiphone DR-100, Square Shoulder Dreadnought, Ebony, Guitarra Acústica
        </h1>
        <p
          style="border: none;
            outline: 0;
            padding: 12px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;"
        >
          <button>$4,300.00</button>
        </p>
      </div>
      <div
        style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); max-width: 200px; margin: auto; text-align: center"
        class=""
      >
        <img src="/epiphonesf.png" alt="epi" style="width:100%" />
        <h1 class="text-white">
          Epiphone Masterbilt Texan, Faded Cherry Aged Gloss, Guitarra
          Electroacústica
        </h1>
        <p
          style="border: none;
            outline: 0;
            padding: 12px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;"
        >
          <button>$66,880.01</button>
        </p>
      </div>
      <div
        style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); max-width: 200px; margin: auto; text-align: center"
        class=""
      >
        <img src="/martinsf.png" alt="martin" style="width:100%" />
        <h1 class="text-white">
          Martin SC-13E, Sitka Spruce, Natural, Guitarra, Electroacústica con
          gig bag
        </h1>
        <p
          style="border: none;
            outline: 0;
            padding: 12px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;"
        >
          <button>$35,390.00</button>
        </p>
      </div>
      <!-- <img class="object-contain h-48 w-96" src="/martinsf.png" alt="martin" />
      <img
        class="object-contain h-48 w-96"
        src="/epiphonesf.png"
        alt="epiphone"
      />
      <img class="object-contain h-48 w-96" src="/gibsonsf.png" alt="gibson" />
      <img class="object-contain h-48 w-96" src="/blk.png" alt="blk" /> -->
    </div>
    <!-- <footer class="flex flex-col flex-grow justify-end pb-20">
      <div class="gap-x-6 flex mx-auto">
        <a
          class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-sm text-white px-12 py-2 transition-colors hover:bg-gray-500 hover:border-gray-500"
          href="#"
        >
          Explorar Inventario
        </a>
        <a
          class="bg-white text-sm rounded font-medium text-black px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center"
          href="#"
        >
          Pedido personalizado
        </a>
      </div>
    </footer> -->
  </div>
  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img
      src="/madera.jpg"
      alt="fondo madera"
      class="h-full w-full object-cover object-center"
    />
  </div>
</section>
