<section
  id="inicio"
  class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-white pt-40 text-[30px] font-medium">
        Acordes que Inspiran: Tu Destino para Guitarras de Calidad
      </h2>
      <p class="text-white text-sm">
        Encuentra tu Sonido Único en nuestra Amplia Selección de Guitarras y
        Accesorios
      </p>
    </header>
    <footer class="flex flex-col flex-grow justify-end pb-20">
      <div>
        <a
          class="border-[3px] border-white bg-white/5 backdrop-blur-sm rounded font-sm text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
          href="#"
        >
          Explora
        </a>
      </div>
    </footer>
  </div>
  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <video
      class="object-center object-cover h-full w-full"
      autoplay
      muted
      loop
      src="/colorguitar.mp4"></video>
  </div>
</section>
